(
    ball: (
        radius: 2.0,
        speed: 20.0,
        bounce_acceleration: 3.0,
        max_speed: 420.0,
    ),
    arena: (
        width: 100.0,
        height: 100.0,
    ),
    paddles: (
        width: 4.0,
        height: 16.0,
        speed: 180.0,
    )
)
